In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.shape

(57650, 4)

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
df = df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [8]:
df.head(10)

,artist,song,text
0,Face To Face,The Devil You Know,It's all right \r\nEverything is fine \r\nYo...
1,Christina Aguilera,Bionic,This-this-this-this is the moment that I take ...
2,John Mellencamp,Serious Business,You ain't goin' nowhere \r\nGonna sit by this...
3,Hank Snow,Marriage Vow,Do you take this woman to be your dear wife \...
4,Opeth,Bridge Of Sighs,The sun don't shine \r\nThe moon don't move t...
5,Jimmy Buffett,I Used To Have Money One Time,I had Cadillac's in my future \r\nDebutantes ...
6,Van Morrison,Crazy Love,I can hear her heart beat from a thousand mile...
7,Wet Wet Wet,Maybe Tomorrow,She's getting out of control \r\nShe's takin'...
8,Arlo Guthrie,The Motorcycle Song,[Chorus] \r\nI don't want a pickle \r\nJust ...
9,O.A.R.,When Can I Go Home?,"I wrote a letter to man, sealed my envelope wi..."

In [9]:
df['text'][0]

"It's all right  \r\nEverything is fine  \r\nYou live the perfect life  \r\nNever one immoral thought inside your mind  \r\n  \r\nWhat they say  \r\nDoes it make you feel ashamed?  \r\nIsn't everyone the same?  \r\nDoes it matter that it wasn't your idea  \r\nGod is a man  \r\nYou know for certain  \r\nThe knowledge in and of itself  \r\nIs more than we deserve  \r\n  \r\nSo you've tried  \r\nAnd you've made up your mind  \r\nSomething's still not right  \r\nThe devil you don't know is still outside\r\n\r\n"

In [10]:
df.sample(5000)

,artist,song,text
263,Ella Fitzgerald,Fairy Tales,Fairy tales were the tales that you told me \...
2455,Ice Cube,The Product,I was told cause I didn't witness the whole ac...
3921,Oliver,A Fine Life,"Nancy: Small pleasures, small pleasures, \r\n..."
1344,Black Sabbath,Lord Of This World,You're searching for your mind don't know wher...
1852,Rihanna,Say It,You should tell me what's buggin' you \r\nAnd...
...,...,...,...
3583,Frank Sinatra,All Or Nothing,"All or nothing at all \r\nHalf a love, never ..."
268,Hillsong United,Dwell In Your House,You set me apart \r\nGave me a new heart \r\...
2242,System Of A Down,Johnny,"Hello, my name is Johnny \r\nWell 'ello, my n..."
4662,Tina Turner,Great Spirits,When the earth was young \r\nAnd the air was ...
1248,Tool,Crawl Away,You crawled away from me. \r\nSlipped away fr...

In [11]:
df.shape

(5000, 3)

SAMPLING FROM DATASET

In [12]:
df = df.sample(5000)

In [13]:
df.shape

(5000, 3)

In [14]:
df['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n',' ', regex = True)

4142    twinkle twinkle super star, fame and fortune t...
4712    be not afraid at all, be not afraid to know  \...
4758    i'll find the places where you hide  \r i'll b...
2728    a love struck romeo  \r sings the streets a se...
1243    you must have faith in everything you do  \r f...
                              ...
135     when he loved me nothing in this world  \r cou...
41      now that i've passed your test  \r how can i p...
3617    'i get along without you very well' (hoagy car...
3855    i know a dream when i see one  \r for i'm a dr...
2197    deep down in my heart  \r there is a lot of wo...
Name: text, Length: 5000, dtype: object

In [15]:
df['text'] = df['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n',' ', regex = True)

Important

In [16]:
df

,artist,song,text
4142,Neil Sedaka,Number One With A Heartache,"twinkle twinkle super star, fame and fortune t..."
4712,Starship,The Children,"be not afraid at all, be not afraid to know \..."
4758,OneRepublic,What U Wanted,i'll find the places where you hide \r i'll b...
2728,Indigo Girls,Romeo And Juliet,a love struck romeo \r sings the streets a se...
1243,Glen Campbell,Faith,you must have faith in everything you do \r f...
...,...,...,...
135,Dusty Springfield,If It Don't Work Out,when he loved me nothing in this world \r cou...
41,Cat Stevens,Two Fine People,now that i've passed your test \r how can i p...
3617,Phil Collins,I've Forgotten Everything,'i get along without you very well' (hoagy car...
3855,Dean Martin,I Know A Dream When I See One,i know a dream when i see one \r for i'm a dr...
2197,INXS,All The Voices,deep down in my heart \r there is a lot of wo...

In [17]:
df.tail(5)

,artist,song,text
135,Dusty Springfield,If It Don't Work Out,when he loved me nothing in this world \r cou...
41,Cat Stevens,Two Fine People,now that i've passed your test \r how can i p...
3617,Phil Collins,I've Forgotten Everything,'i get along without you very well' (hoagy car...
3855,Dean Martin,I Know A Dream When I See One,i know a dream when i see one \r for i'm a dr...
2197,INXS,All The Voices,deep down in my heart \r there is a lot of wo...

TOKENISATION

In [18]:
import nltk
from nltk.stem.porter import PorterStemmer

nltk.download('punkt_tab')
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

[nltk_data] Downloading package punkt_tab to /Users/drago/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [19]:
tokenization('you are beautifully, beauty')

'you are beauti , beauti'

In [20]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [21]:
df['text']

4142    twinkl twinkl super star , fame and fortun too...
4712    be not afraid at all , be not afraid to know a...
4758    i 'll find the place where you hide i 'll be t...
2728    a love struck romeo sing the street a serenad ...
1243    you must have faith in everyth you do faith wi...
                              ...
135     when he love me noth in thi world could touch ...
41      now that i 've pass your test how can i prove ...
3617    ' i get along without you veri well ' ( hoagi ...
3855    i know a dream when i see one for i 'm a dream...
2197    deep down in my heart there is a lot of word t...
Name: text, Length: 5000, dtype: object

VECTORIZATION

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [23]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words = 'english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [24]:
similarity[0]

array([1.        , 0.02893879, 0.01255547, ..., 0.00846952, 0.00426524,
       0.08180347])

In [25]:
df[df['song']== 'Sign Of Judgement']

Empty DataFrame
Columns: [artist, song, text]
Index: []

RECOMMENDER FUNCTION

In [26]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

FRONTEND

In [27]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))